<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 성공</title>
</head>
<body>
<h1>결제가 성공적으로 완료되었습니다.</h1>
<p>결제 코드: {{code}}</p>
<a href="/api/paymethod-manage">결제 수단 관리 페이지로 돌아가기</a>
</body>
</html>