<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/static/css/reset.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 수단 등록</title>
    <link rel="stylesheet" href="/static/css/paymethod-form.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="/static/js/kakao-paymethod-form.js"></script>


</head>
<body>
<div class="white-header">
    <div class="header-logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix Logo">
    </div>
    <div class="logout">
        <a href="#">로그아웃</a>
    </div>
</div>
<div class="main-container">
    <div class="msg-container">
        <div class="lock-icon">
            <img src="/static/images/system/lock.png" alt="Lock Icon">
        </div>
        <h2>결제 수단 등록</h2>
        <p>기존 결제 수단에 문제가 생겼을 때만 예비 결제 수단으로 사용됩니다.</p>
    </div>
    <div class="payment-container">
        <div class="payment-methods">
            <div class="method">
                <div>
                    <p>신용카드 또는 체크카드</p>
                    <div class="icons">
                        <img src="/static/images/cards/BC.png" alt="BC">
                        <img src="/static/images/cards/Hana.png" alt="Hana">
                        <img src="/static/images/cards/Hyundai.png" alt="Hyundai">
                        <img src="/static/images/cards/KB.png" alt="KB">
                        <img src="/static/images/cards/Lotte.png" alt="Lotte">
                        <img src="/static/images/cards/NH.png" alt="NH">
                        <img src="/static/images/cards/Samsung.png" alt="Samsung">
                        <img src="/static/images/cards/Shinhan.png" alt="Shinhan">
                        <!-- Add more icons as needed -->
                    </div>
                </div>
                <div>
                    <img src="/static/images/system/icons8-arrow-right-30.png" alt="arrow">
                </div>
            </div>
            <div class="method">
                <div>
                    <p>간편 결제</p>
                    <div class="icons">
                        <img src="/static/images/cards/KAKAOPAY.png" alt="KAKAOPAY">
                        <!-- Add more icons as needed -->
                    </div>
                </div>
                <div>
                    <img id="paymentButton" src="/static/images/system/icons8-arrow-right-30.png" alt="arrow">
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="white-footer">
    <div class="white-footer-container">
        <p>질문이 있으신가요? 문의 전화: 00-308-321-0161 (수신자 부담)</p>
        <div class="grid-list-container">
            <ul class="grid-list">
                <li><a href="#">자주 묻는 질문</a></li>
                <li><a href="#">고객 센터</a></li>
                <li><a href="#">넷플릭스 스토어</a></li>
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">회사 정보</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">쿠키 설정</a></li>
            </ul>
        </div>
        <div class="footer-bt">
            <p>넷플릭스서비스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)</p>
            <p>대표: 레지널드 숀 톰프슨</p>
            <p>이메일 주소: korea@netflix.com</p>
            <p>주소: 대한민국 서울특별시 종로구 종로 26, 서울특별시 종로구 종로 26, 03161</p>
            <p>사업자등록번호: 165-87-00119</p>
            <p>클라우드 호스팅: Amazon Web Services Inc.</p>
            <p>공정거래위원회 웹사이트</p>
        </div>
    </div>
</footer>
</body>
</html>
