<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 수단 관리</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/paymethod-manage.css">
</head>
<body>
<header>
    <a href="/">
        <div class="header-logo">
            <img src="/static/images/logo.png" alt="Netflix Logo">
        </div>
    </a>
    <div class="logout">
        <a href="#">로그아웃</a>
    </div>
</header>
<div class="main">
    <div class="main-box">
        <div class="button-box">
            <a href="/api/account-view">
                <button>
                    <div class="img-container">
                        <img src="/static/images/system/left-arrow.png">
                    </div>
                    계정
                </button>
            </a>
        </div>
        <div class="container">
            <div class="msg-container">
                <div class="lock-icon">
                    <img src="/static/images/system/lock.png" alt="Lock Icon">
                </div>
                <h2>결제 수단 관리</h2>
                <p>멤버십 요금을 어떻게 결제할지 직접 관리하세요. </p>
            </div>
            <div class="payment-container">
                <div class="payment-methods">
                    <div >
                        <div class="row">
                            <div>
                                <div>신용카드</div>
                            </div>
                            <div>
                                ●●●●0935
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <a href="/api/paymethod-update-form">
                                <button>업데이트</button>
                            </a>
                        </div>
                        <div>
                            <img src="/static/images/system/kebab-menu.png" alt="arrow">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="/api/paymethod-register-form">
                <button>
                    <div class="button-elements">
                        <img src="/static/images/system/add-icon.svg">
                        <div style="width: 5px;"></div>
                        <div>
                            결제수단 등록
                        </div>
                    </div>
                </button>
            </a>
        </div>

    </div>

</div>
<footer class="white-footer">
    <div class="white-footer-container">
        <p>질문이 있으신가요? 문의 전화: 00-308-321-0161 (수신자 부담)</p>
        <div class="grid-list-container">
            <ul class="grid-list">
                <li><a href="#">자주 묻는 질문</a></li>
                <li><a href="#">고객 센터</a></li>
                <li><a href="#">넷플릭스 스토어</a></li>
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">회사 정보</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">쿠키 설정</a></li>
            </ul>
        </div>
        <div class="footer-bt">
            <p>넷플릭스서비스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)</p>
            <p>대표: 레지널드 숀 톰프슨</p>
            <p>이메일 주소: korea@netflix.com</p>
            <p>주소: 대한민국 서울특별시 종로구 종로 26, 서울특별시 종로구 종로 26, 03161</p>
            <p>사업자등록번호: 165-87-00119</p>
            <p>클라우드 호스팅: Amazon Web Services Inc.</p>
            <p>공정거래위원회 웹사이트</p>
        </div>
    </div>
</footer>
</body>
</html>