<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 상세 정보</title>
    <link rel="stylesheet" href="/static/css/purchase-histories.css"/> <!-- 외부 CSS 파일을 연결 -->
</head>

<body>
<header>
    <div class="header-content">
        <img src="/static/images/OH!FLIX.png" alt="Netflix Logo" class="logo">
        <div class="profile">
            <img src="/static/images/netflix-profile.png" alt="Profile Icon" class="profile-icon">
            <button class="dropdown-button">
                <span class="dropdown-icon">▼</span>
                <div class="dropdown-content">
                    <a href="#">프로필 1</a>
                    <a href="#">프로필 2</a>
                    <a href="#">프로필 3</a>
                </div>
            </button>
        </div>
    </div>
</header>
<div class="container">
    <div class="title">결제 상세 정보</div>
    <div class="info">
        <div class="bold">내 멤버십</div>
        <div class="container2">
            <div>멤버십</div>
            <div>스탠더드</div>
            <div>월 13,500원</div>
            <div>다음 결제 날짜</div>
            <div>{{purchaseHistoryDTO.paymentDate}}</div>
        </div>
    </div>
    <div class="container3">
        멤버십 요금은 결제 주기 시작일에 청구되며, 계정이 정상인 상태로 유지되는 한 계속 청구됩니다.
    </div>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>날짜</th>
                <th>설명</th>
                <th>서비스 기간</th>
                <th>결제 수단</th>
                <th>소계</th>
                <th>총 합계</th>
            </tr>
            </thead>
            <tbody>
            {{#purchaseHistoryDTO.purchaseDTO}}
                <tr>
                    <td>{{createdAt}}</td>
                    <td>{{description}}</td>
                    <td>{{servicePeriod}}</td>
                    <td>{{paymethod}} : {{cardNumber}}</td>
                    <td>{{supplyValue}} (+{{vat}}원 부가세)</td>
                    <td>{{amount}}</td>
                </tr>
            {{/purchaseHistoryDTO.purchaseDTO}}
            </tbody>
        </table>
    </div>
    <div class="container4">
        *결제 내역은 지난 1년 동안만 표시됩니다.
    </div>
</div>
<footer>
    <div class="footer-links">
        <p class="footer-subtitle">질문이 있으신가요? 고객 센터에 문의하세요.</p>
        <a href="#">음성 및 자막</a>
        <a href="#">고객 센터</a>
        <a href="#">기프트카드</a>
        <a href="#">투자 정보(IR)</a>
        <a href="#">미디어 센터</a>
        <a href="#">입사 정보</a>
        <a href="#">쿠키 설정</a>
        <a href="#">이용 약관</a>
        <a href="#">개인정보 처리방침</a>
    </div>
    <div class="service-code">
        <p>서비스 코드</p>
    </div>
    <div class="service-code-content">
        <p>넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 080-001-9587</p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>주소: 대한민국 서울특별시 종로구 종로 26, 그랑서울 A동 20층 우편번호 03161</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
</body>
</html>