<!DOCTYPE html>
<html>
<head>
    <title>Netflix Monthly Revenue Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/refund-page.css"/> <!-- 외부 CSS 파일을 연결 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

</head>
<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <img src="/static/images/OH!FLIX.png" alt="오류" class="nav-logo"/>
        </div>
        <div>
            <img src="/static/images/profile.png" alt="오류" class="nav-profile"/>
            <div>
                <i class="fa-solid fa-caret-down fa-xs"></i>
            </div>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- main left-->
<main>
    <div class="main-div">
        <div class="main-left-top">
            <div class="main-left-text">
                <i class="fa-solid fa-arrow-left main-left-icon"></i>넷플릭스로
                돌아가기
            </div>
            <ul class="custom-list">
                <a href="/admin/admin-upload">
                    <li><i class="fa-solid fa-upload"></i>영상 업로드</li>
                </a>

                <a href="/api/video-manage">
                    <li><i class="fa-solid fa-photo-film"></i>영상 관리</li>
                </a>

                <a href="/admin/members-manage">
                    <li><i class="fa-solid fa-users-gear"></i>회원 관리</li>
                </a>

                <a href="/admin/refund-manage">
                    <li><i class="fa-solid fa-comment-dots"></i>멤버십 해지 요청</li>
                </a>

                <a href="/api/sales-page">
                    <li><i class="fa-solid fa-chart-line"></i>매출 관리</li>
                </a>
            </ul>
        </div>
    </div>
    <!-- main left end-->
    <div class="main-div">
        <div class="main-right-margin">
            <div class="title">결제 취소 페이지</div>
            <table>
                <thead>
                <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>계정아이디</th>
                    <th>사유</th>
                    <th>결제일</th>
                    <th>수락/반려</th>
                </tr>
                </thead>
                <tbody>
                {{#ListDTO.refundInfos}}
                    <tr>
                        <td>{{num}}</td>
                        <td>{{username}}</td>
                        <td>{{num}}</td>
                        <td>{{reason}}</td>
                        <td>{{purchasedDate}}</td>
                        <td>
                            {{#isApproved}}
                                <button class="accept" disabled>수락됨</button>
<!--                                <select class="reject-reason">-->
<!--                                    <option value="" disabled selected>반려 사유 선택</option>-->
<!--                                    <option value="결제 오류">결제 오류</option>-->
<!--                                    <option value="서비스 불만">서비스 불만</option>-->
<!--                                    <option value="상품 미 출고">상품 미 출고</option>-->
<!--                                </select>-->
                            {{/isApproved}}
                            {{^isApproved}}
                                <button class="accept">수락</button>
<!--                                <select class="reject-reason">-->
<!--                                    <option value="" disabled selected>반려 사유 선택</option>-->
<!--                                    <option value="결제 오류">결제 오류</option>-->
<!--                                    <option value="서비스 불만">서비스 불만</option>-->
<!--                                    <option value="상품 미 출고">상품 미 출고</option>-->
<!--                                </select>-->
                                <button class="reject" onclick="rejectRequest(event)">반려</button>
                            {{/isApproved}}
                        </td>
                    </tr>
                {{/ListDTO.refundInfos}}
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- footer start -->
<footer>
    <div>
        <p>
            넷플릭스서비시스코리아 유한회사 통신판매업신고번호:
            제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)
        </p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>
            주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층
            우편번호 03161
        </p>
        <p>사업자등록번호: 165-87-00119</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
<!-- footer end -->
</body>
</html>

<script>
    // 반려 버튼 클릭 시 동작할 함수
    function rejectRequest(event) {
        // 이벤트가 발생한 요소(button.reject)의 부모 요소(td)를 찾음
        const parentTd = event.target.parentElement;

        // 부모 요소(td)에서 선택된 반려 사유를 찾음
        const selectElement = parentTd.querySelector('.reject-reason');
        const selectedReason = selectElement.value;

        // 선택된 반려 사유가 없으면 경고 메시지 출력 후 종료
        if (!selectedReason) {
            alert('반려 사유를 선택해주세요.');
            return;
        }

        // 선택된 반려 사유와 관련된 처리 로직을 추가할 수 있음
        console.log('선택된 반려 사유:', selectedReason);

    }
</script>