<!DOCTYPE html>
<html>
<head>
    <title>Netflix Monthly Revenue Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/sales-page.css"/> <!-- 외부 CSS 파일을 연결 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

</head>
<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <img src="/static/images/OH!FLIX.png" alt="오류" class="nav-logo"/>
        </div>
        <div>
            <img src="/static/images/profile.png" alt="오류" class="nav-profile"/>
            <div>
                <i class="fa-solid fa-caret-down fa-xs"></i>
            </div>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- main left-->
<main>
    <div class="main-div">
        <div class="main-left-top">
            <a href="/api/main-page">
                <div class="main-left-text">
                    <i class="fa-solid fa-arrow-left main-left-icon"></i>넷플릭스로
                    돌아가기
                </div>
            </a>

            <ul class="custom-list">
                <a href="/admin/admin-upload">
                    <li><i class="fa-solid fa-upload"></i>영상 업로드</li>
                </a>

                <a href="/api/video-manage">
                    <li><i class="fa-solid fa-photo-film"></i>영상 관리</li>
                </a>

                <a href="/admin/members-manage">
                    <li><i class="fa-solid fa-users-gear"></i>회원 관리</li>
                </a>

                <a href="/admin/refund-manage">
                    <li><i class="fa-solid fa-comment-dots"></i>멤버십 해지 요청</li>
                </a>

                <a href="/api/sales-page">
                    <li><i class="fa-solid fa-chart-line"></i>매출 관리</li>
                </a>

            </ul>
        </div>
    </div>
    <!-- main left end-->
    <div class="main-div">
        <div class="main-right-margin">
            <div class="title">
                <div class="title-red">OH!FLIX</div>
                월 매출
            </div>
            <div class="canvas-container">
                <canvas id="line-chart" width="750" height="400"></canvas>
            </div>
            <div class="table-title">월별 구독 현황</div>
            <table>
                <thead>
                <tr>
                    <th>년월</th>
                    <th>구독 회원 수</th>
                    <th>총 가입자 수</th>
                    <th>이달 매출</th>
                    <th>올해 누적 매출</th>
                </tr>
                </thead>
                <tbody>
                {{#SalesPageDTO}}
                <tr>
                    <td>{{yearMonth}}</td>
                    <td>{{subscribeUserCount}}</td>
                    <td>{{cumulativeUserCount}}</td>
                    <td>{{monthlySales}}</td>
                    <td>{{cumulativeSales}}</td>
                </tr>
                {{/SalesPageDTO}}
            </table>
        </div>
    </div>
</main>
<!-- footer start -->
<footer>
    <div>
        <p>
            넷플릭스서비시스코리아 유한회사 통신판매업신고번호:
            제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)
        </p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>
            주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층
            우편번호 03161
        </p>
        <p>사업자등록번호: 165-87-00119</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
<!-- footer end -->
</body>
</html>
<script>
    var ctx = document.getElementById('line-chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'], // Assuming monthly labels
            datasets: [
                {
                    label: 'Netflix Monthly Revenue',
                    data: [{{#SalesPageDTO}}{{monthlySales}}{{^@first}},{{/@first}}{{/SalesPageDTO}}], // Replace with actual monthly revenue data in billions of Korean Won
                    borderColor: '#E50914',
                    fill: false
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Netflix Monthly Revenue'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            return value.toLocaleString('ko-KR') + ' ₩'; // Formatting to Korean Won
                        }
                    }
                }]
            }
        }
    });
</script>