<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/profile-setting.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 파비콘 ( 아이콘 ) -->
    <link rel="icon" href="/static/images/OH!.ico">
    <title>계정 프로필 - 오플릭스</title>
</head>

<body>
{{#ProfileSettingDTO}}
    <!-- nav start -->
    <nav>
        <div class="nav-div">
            <div>
                <a href="/api/main-page">
                    <img src="/static/images/OH!FLIX.png" alt="오류" class="nav-logo"/>
                </a>
            </div>
            <div>
                <div class="profile-icon">
                    <img src={{iconPath}} alt="오류" class="nav-profile"/>
                </div>
                <div class="logout">
                    <a href="/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- nav end-->

    <!-- main start -->
    <main>
        <div class="main-div">
            <!-- 사이드 바 메뉴 -->
            {{> /_components/custom-list}}
            <div class="main-section">

                <!-- main div right -->
                <!-- membership inforamtion -->
                <div class="main-right-header mb-20">프로필</div>
                <div class="main-profile mb-20">
                    <div>
                        {{nickname}} 님
                    </div>
                    <div class="profile-icon">
                        <img src="{{iconPath}}" alt="오류"/>
                    </div>
                </div>

                <!-- fast link -->
                <a class="mb-15" href="/api/user-check">
                    <div class="main-right-div2">
                        <div class="fast-link">
                            <div class="fast-link-div m-5 pointer">
                                <div>
                                    <i class="fa-regular fa-envelope"></i>
                                    이메일
                                </div>
                                <div><i class="fa-solid fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="mb-20">설정</div>
                <div class="main-right-div3 ">
                    <div class="setting">
                        <a href="/api/restriction-pass">
                            <div class="setting-div m-5 pointer">
                                <div class="setting-text">
                                    <i class="fa-regular fa-circle-xmark"></i>
                                    <div class="text-container">
                                        <div>시청 제한</div>
                                        <div>관람등급 및 콘텐츠 제한 변경</div>
                                    </div>
                                </div>
                                <div><span><i class="fa-solid fa-chevron-right"></i></span></div>
                            </div>
                        </a>
                        <hr>
                        <a href="/api/view-history">
                            <div class="setting-div m-5 pointer">
                                <div class="setting-text">
                                    <i class="fa-solid fa-clock-rotate-left"></i>
                                    <div class="text-container">
                                        <div>시청 기록</div>
                                        <div>시청 기록 및 평가 관리</div>
                                    </div>
                                </div>
                                <div><span><i class="fa-solid fa-chevron-right"></i></span></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="main-right-div4 mb-20 pointer">
                    <div class="profile-cancel m-15">
                        <i class="fa-regular fa-trash-can"></i>
                        프로필 삭제
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- nav start end-->

    <!-- ------------------------------------------------------------------------------------------------ -->

    <!-- hr -->
    <div class="mt-70">
        <hr/>
    </div>
    <!-- hr -->

    <!-- ------------------------------------------------------------------------------------------------ -->

    <!-- footer start -->
    {{> /_components/white-footer}}
    <!-- footer end -->
{{/ProfileSettingDTO}}
</body>

</html>
