<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/password-change-form.css">
</head>
<body>
<header>
    <div class="header-content">
        <img src="/static/images/logo.png" alt="Netflix Logo" class="logo">
        <div class="profile">
            <img src="/static/images/netflix-profile.png" alt="Profile Icon" class="profile-icon">
            <button class="dropdown-button">
                <span class="dropdown-icon">▼</span>
                <div class="dropdown-content">
                    <a href="#">프로필 1</a>
                    <a href="#">프로필 2</a>
                    <a href="#">프로필 3</a>
                </div>
            </button>
        </div>
    </div>
</header>
<div class="container">
    <main>
        <h1>비밀번호 변경</h1>
        <p>6자 이상의 고유한 비밀번호로 계정을 보호하세요.</p>
        <form>

            <input type="password" id="current-password" name="current-password" placeholder="기존 비밀번호" required>
            <a href="#">비밀번호를 잊으셨나요?</a>

            <input type="password" id="new-password" name="new-password" placeholder="새 비밀번호(6~60자)" required>


            <input type="password" id="confirm-password" name="confirm-password" placeholder="새 비밀번호를 다시 입력하세요" required>

            <div class="logout-option">
                <input type="checkbox" id="logout-all" name="logout-all">
                <label for="logout-all">모든 디바이스에서 로그아웃</label>
            </div>

            <div class="buttons">
                <button type="submit" class="save-button">저장</button>
                <button type="button" class="cancel-button">취소</button>
            </div>
        </form>
    </main>
    <hr class="divider">
    <footer>
        <div class="footer-links">
            <p class="footer-subtitle">질문이 있으신가요? 고객 센터에 문의하세요.</p>
            <a href="#">음성 및 자막</a>
            <a href="#">고객 센터</a>
            <a href="#">기프트카드</a>
            <a href="#">투자 정보(IR)</a>
            <a href="#">미디어 센터</a>
            <a href="#">입사 정보</a>
            <a href="#">쿠키 설정</a>
            <a href="#">이용 약관</a>
            <a href="#">개인정보 처리방침</a>
        </div>
        <div class="service-code">
            <p>서비스 코드</p>
        </div>
        <div class="service-code-content">
            <p>넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 080-001-9587</p>
            <p>대표: 레지널드 숀 톰프슨</p>
            <p>이메일 주소: korea@netflix.com</p>
            <p>주소: 대한민국 서울특별시 종로구 종로 26, 그랑서울 A동 20층 우편번호 03161</p>
            <p>클라우드 호스팅: Amazon Web Services Inc.</p>
            <p>공정거래위원회 웹사이트</p>
        </div>
    </footer>
</div>
</body>
</html>