<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>본인 확인</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/user-check.css" />
</head>
<body>
<header>
    <div class="header-content">
        <img src="/static/images/OH!FLIX.png" alt="Netflix Logo" class="logo" />
        <div class="profile">
            <img
                    src="/static/images/netflix-profile.png"
                    alt="Profile Icon"
                    class="profile-icon"
            />
            <button class="dropdown-button">
                <span class="dropdown-icon">▼</span>
                <div class="dropdown-content">
                    <a href="#">프로필 1</a>
                    <a href="#">프로필 2</a>
                    <a href="#">프로필 3</a>
                </div>
            </button>
        </div>
    </div>
</header>
<div class="container">
    <main>
        <div class="icon-container">
            <div class="icon">
                <img src="/static/images/system/shield.svg" alt="Verification Icon" />
            </div>
            <h1>먼저 본인 확인을 해볼까요?</h1>
            <p>정보를 변경하기 전에 본인 확인 절차가 필요합니다.</p>
        </div>
        <div class="verification">
            <div class="options">
                <div class="option">
                    <div class="option-element">
                        <img src="/static/images/system/message.svg" alt="SMS Icon" />
                        <div>
                            <h3>문자로 코드 받기</h3>
                            <p>{{UserCheckDTO.mobile}}</p>
                        </div>
                    </div>
                    <img
                            src="/static/images/system/icons8-arrow-right-30.png"
                            class="arrow-right"
                    />
                </div>
                <hr />
                <div class="option">
                    <div class="option-element">
                        <img src="/static/images/system/email.svg" alt="SMS Icon" />
                        <div>
                            <h3>이메일 코드 받기</h3>
                            <p>{{UserCheckDTO.email}}</p>
                        </div>
                    </div>
                    <img
                            src="/static/images/system/icons8-arrow-right-30.png"
                            class="arrow-right"
                    />
                </div>
                <hr />
                <div class="option">
                    <div class="option-element">
                        <img src="/static/images/system/credit.svg" alt="SMS Icon" />
                        <div>
                            <h3>결제 정보 확인</h3>
                            <p>LOCAL(마지막 네 자리: {{UserCheckDTO.lastDigit}})</p>
                        </div>
                    </div>
                    <img
                            src="/static/images/system/icons8-arrow-right-30.png"
                            class="arrow-right"
                    />
                </div>
            </div>
        </div>
        <p class="help">
            도움이 필요하신가요? <a href="#">고객 센터로 문의하세요.</a>
        </p>
    </main>
</div>
<footer class="white-footer">
    <div class="white-footer-container">
        <p>질문이 있으신가요? 문의 전화: 00-308-321-0161 (수신자 부담)</p>
        <div class="grid-list-container">
            <ul class="grid-list">
                <li><a href="#">자주 묻는 질문</a></li>
                <li><a href="#">고객 센터</a></li>
                <li><a href="#">넷플릭스 스토어</a></li>
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">회사 정보</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">쿠키 설정</a></li>
            </ul>
        </div>
        <div class="footer-bt">
            <p>
                넷플릭스서비스코리아 유한회사 통신판매업신고번호:
                제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)
            </p>
            <p>대표: 레지널드 숀 톰프슨</p>
            <p>이메일 주소: korea@netflix.com</p>
            <p>
                주소: 대한민국 서울특별시 종로구 종로 26, 서울특별시 종로구 종로 26,
                03161
            </p>
            <p>사업자등록번호: 165-87-00119</p>
            <p>클라우드 호스팅: Amazon Web Services Inc.</p>
            <p>공정거래위원회 웹사이트</p>
        </div>
    </div>
</footer>
</body>
</html>
