<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>오!플릭스</title>
    <!-- 라이브러리 -->
    <!-- google Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font-awesome Icon 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 임포트 -->
    <!-- css -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main-page.css">
    <link rel="stylesheet" href="/static/css/latest.css">
    <!-- js -->
    <script src="/static/js/main-page.js"></script>
    <!-- 파비콘 ( 아이콘 ) -->
    <link rel="icon" href="/static/images/OH!.ico">
</head>

<body>
{{#MyFavoriteListDTO}}
<!-- 헤더 -->
<header>
    <a href="/">
        <div class="logo"><img src="/static/images/OH!FLIX.png" alt="로고 이미지"></div>
    </a>
    <nav>
        <ul>
            <li><a href="/api/main-page">홈</a></li>
            <li><a href="/api/main-page">영화</a></li>
            <li><a href="/api/latest-content">최신 콘텐츠</a></li>
            <li><a href="/api/my-favorite-list">내가 찜한 콘텐츠</a></li>
        </ul>
    </nav>
    <div class="right_menu">
        <!-- 검색 메뉴 -->
        <div class="search-container">
            <!-- <i class="fa-solid fa-magnifying-glass search-icon"></i> -->
            <span class="material-icons search-icon">search</span>
            <input type="text" class="search-input" placeholder="제목, 사람, 장르">
        </div>
        <!--  알람 드롭 다운 메뉴  -->
        <div class="dropdown">
            <button class="dropdown-button"><i class="far fa-bell"></i></button>
            <div class="dropdown-notification">
                <div class="notification-item">
                    <img src="/static/images/notification/notify1.jpg" class="notification-image">
                    <div class="notification-details">
                        <div class="notification-subtitle">신규 콘텐츠</div>
                        <div class="notification-subtitle">브리저튼</div>
                        <div class="notification-time">5일</div>
                    </div>
                </div>
                <div class="notification-item">
                    <img src="/static/images/notification/notify2.jpg" class="notification-image">
                    <div class="notification-details">
                        <div class="notification-subtitle">신규 콘텐츠</div>
                        <div class="notification-subtitle">울트라맨</div>
                        <div class="notification-time">7일</div>
                    </div>
                </div>
                <div class="notification-item">
                    <img src="/static/images/notification/notify3.jpg" class="notification-image">
                    <div class="notification-details">
                        <div class="notification-subtitle">신규 콘텐츠</div>
                        <div class="notification-subtitle">블랙클로버</div>
                        <div class="notification-time">10일</div>
                    </div>
                </div>
                <div class="notification-item">
                    <img src="/static/images/notification/notify4.jpg" class="notification-image">
                    <div class="notification-details">
                        <div class="notification-subtitle">신규 콘텐츠</div>
                        <div class="notification-subtitle">하이라키</div>
                        <div class="notification-time">12일</div>
                    </div>
                </div>
                <div class="notification-item">
                    <img src="/static/images/notification/notify5.jpg" class="notification-image">
                    <div class="notification-details">
                        <div class="notification-subtitle">신규 콘텐츠</div>
                        <div class="notification-subtitle">히트맨</div>
                        <div class="notification-time">15일</div>
                    </div>
                </div>
                <div class="notification-item">
                    <img src="/static/images/notification/notify6.jpg" class="notification-image">
                    <div class="notification-details">
                        <div class="notification-subtitle">신규 콘텐츠</div>
                        <div class="notification-subtitle">그놈이다</div>
                        <div class="notification-time">18일</div>
                    </div>
                </div>
            </div>
        </div>
        <!--  알람 드롭 다운 메뉴 종료  -->
        <!--  프로필 드롭 다운 메뉴 시작  -->
        <div class="dropdown">
            <button class="dropdown-button"><img src={{profileIcon.path}}
                                                 alt="Profile"/></button>
            <div class="dropdown-content">
                <a href="/api/profile-form"><i class="material-icons">edit</i> 프로필 관리</a>
                <a href="/api/account-view"><i class="material-icons">account_circle</i> 계정</a>
                <a href="#"><i class="material-icons">help_outline</i> 고객 센터</a>
                <a href="/logout">넷플릭스에서 로그아웃</a>
            </div>
        </div>
        <!--  프로필 드롭 다운 메뉴 종료  -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <script>
            document.querySelector('.search-icon').addEventListener('click', function () {
                const searchInput = document.querySelector('.search-input');
                if (searchInput.classList.contains('show')) {
                    searchInput.classList.remove('show');
                } else {
                    searchInput.classList.add('show');
                    searchInput.focus();
                }
            });
        </script>
    </div>
</header>

<!-- 메인 -->
<main>

    <!-- 내가 찜한 콘턴츠 섹션 -->
    <section class="margin-section" id="my-list-section">
        <h2>내가 찜한 콘텐츠</h2>
        <div class="movies">
            <div class="item-list">
                    {{#MyFavoriteList}}
                        {{#content}}
                            <div class="item content" data-content-id="{{id}}">
                                <img src={{thumbnail}} alt="{{id}}">
                            </div>
                        {{/content}}
                    {{/MyFavoriteList}}
                <!-- 프론트 더미 -->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_02.jpg" alt="new_02">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_03.jpg" alt="new_03">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_04.jpg" alt="new_04">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_05.jpg" alt="new_05">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_06.jpg" alt="new_06">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_07.jpg" alt="new_07">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_08.jpg" alt="new_08">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_09.jpg" alt="new_09">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_10.jpg" alt="new_10">-->
                <!--                </div>-->
                <!--                <div class="item">-->
                <!--                    <img src="/static/images/new_contents/new_contents_11.jpg" alt="new_11">-->
                <!--                </div>-->
            </div>
        </div>
    </section>
</main>

<!-- 푸터 -->
<footer>
    <div class="footer-sns">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footer-info">
        <p>넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)</p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층 우편번호 03161</p>
        <p>사업자등록번호: 165-87-00119</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
    </div>
</footer>

{{/MyFavoriteListDTO}}
</body>
<!--  모달 내용-->
{{> /_components/content-detail}}
<!--<div id="modalWrap"> &lt;!&ndash; 모달 창을 감싸는 div &ndash;&gt;-->
<!--    <div id="modalBody">-->
<!--        <span id="closeBtn">&times;</span> &lt;!&ndash; 모달을 닫는 X 버튼 &ndash;&gt;-->
<!--        <div class="body-container">-->
<!--            &lt;!&ndash; 헤더 start &ndash;&gt;-->
<!--            <div class="header-container">-->
<!--                <div class="play">-->
<!--                    <div class="title">서울의 봄</div>-->
<!--                    <div class="buttons">-->
<!--                        <a href="#" class="play-button">▶ 재생</a>-->
<!--                        <a href="#" class="icon"><i class="fa-solid fa-plus"></i></a>-->
<!--                        <a href="#" class="icon"><i class="fa-regular fa-thumbs-up"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; 헤더 end &ndash;&gt;-->

<!--            <div class="containermargin">-->
<!--                <div class="container">-->
<!--                    <div class="container1">-->
<!--                        <div class="introduce">-->
<!--                            <div class="info">-->
<!--                                <span class="match">98% 일치</span>-->
<!--                                <span>2023</span>-->
<!--                                <span>2시간 21분</span>-->
<!--                                <span>HD</span>-->
<!--                            </div>-->
<!--                            <div class="metadata">-->
<!--                                <div><img src="/static/images/12.png" alt=""/></div>-->
<!--                            </div>-->
<!--                            <div class="description">-->
<!--                                대통령의 죽음으로 군부대가 뒤흔들린 시기. 보안사령관이 서울-->
<!--                                장악을 목표로 무자비한 계략을 밀어붙이면서 온 나라가 혼란에 빠질-->
<!--                                위기에 처한다.-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="details">-->
<!--                            <div class="cast">출연: 황정민, 정우성, 이성민, 더 보기</div>-->
<!--                            <div class="genre">장르: 스릴러 영화</div>-->
<!--                            <div class="features">영화 특징: 긴장감 넘치는</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="container2">-->
<!--                    <div class="title2">서울의 봄 상세 정보</div>-->
<!--                    <div class="details2">-->
<!--                        <div>감독: 김성수</div>-->
<!--                        <div>출연: 황정민, 정우성, 이성민, 박해준, 김성균</div>-->
<!--                        <div>각본: 홍인표, 홍원찬, 이영풍, 김성수</div>-->
<!--                        <div>장르: 스릴러 영화</div>-->
<!--                        <div>영화 특징: 긴장감 넘치는</div>-->
<!--                        <div class="rating">-->
<!--                            <span>관람등급: <img src="/static/images/12.png" alt=""/>12세 이상관람가</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</html>
<!--<script>-->
<!--    const img = document.getElementById("popupImg"); // 모달을 띄우는 버튼 요소 가져오기-->
<!--    const modal = document.getElementById("modalWrap"); // 모달 창 요소 가져오기-->
<!--    const closeBtn = document.getElementById("closeBtn"); // 모달을 닫는 버튼(X) 요소 가져오기-->

<!--    img.onclick = function () {-->
<!--        modal.style.display = "block"; // 버튼을 클릭하면 모달을 보이게 함-->
<!--    };-->

<!--    closeBtn.onclick = function () {-->
<!--        modal.style.display = "none"; // 모달을 닫는 버튼(X)을 클릭하면 모달을 숨김-->
<!--    };-->

<!--    window.onclick = function (event) {-->
<!--        if (event.target == modal) {-->
<!--            modal.style.display = "none"; // 모달 외부를 클릭하면 모달을 숨김-->
<!--        }-->
<!--    };-->
<!--</script>-->