<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시청연령 제한</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/restriction-pass.css">
</head>
<body>
<header>
    <div class="header-content">
        <img src="/static/images/logo.png" alt="Netflix Logo" class="logo">
        <div class="profile">
            <img src="/static/images/netflix-profile.png" alt="Profile Icon" class="profile-icon">
            <button class="dropdown-button">
                <span class="dropdown-icon">▼</span>
                <div class="dropdown-content">
                    <a href="#">키즈</a>
                    <a href="#">프로필 관리</a>
                    <a href="#">프로필 이전</a>
                    <a href="#">계정</a>
                    <a href="#">고객 센터</a>
                </div>
            </button>
        </div>
    </div>
</header>
<main>
    <h1>시청 제한</h1>
    <p>박동기 프로필의 관람등급 및 콘텐츠 제한 설정을 변경하려면 계정 비밀번호를 입력하세요.</p>
    <form>
        <div class="input-container">
            <input type="password" id="password" placeholder="">
            <a href="#" class="password-reset">비밀번호를 생성하거나 재설정하세요</a>
        </div>
    </form>
    <div class="buttons">
        <a href="/api/restriction-manage">
            <button class="save-button">다음</button>
        </a>
        <button class="cancel-button">취소</button>
    </div>
</main>
<hr class="divider">
<footer>
    <div class="footer-links">
        <p class="footer-subtitle">질문이 있으신가요? 고객 센터에 문의하세요.</p>
        <div class="link-group">
            <a href="#">음성 및 자막</a>
            <a href="#">고객 센터</a>
            <a href="#">기프트카드</a>
            <a href="#">투자 정보(IR)</a>
        </div>
        <div class="link-group">
            <a href="#">미디어 센터</a>
            <a href="#">입사 정보</a>
            <a href="#">쿠키 설정</a>
            <a href="#">이용 약관</a>
        </div>
        <div class="link-group">
            <a href="#">개인정보 처리방침</a>
        </div>
    </div>
    <div class="service-code">
        <p>서비스 코드</p> 
    </div>
    <div class="service-code-content">
        <p>넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 080-001-9587</p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>주소: 대한민국 서울특별시 종로구 종로 26, 그랑서울 A동 20층 우편번호 03161</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>  
</footer>
</body>
</html>
