@charset 'utf-8';

/* """"""""""""""""""""""""""초기 세팅"""""""""""""""""""""""""" */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* """""""""""""""""""""""""""공통 마진""""""""""""""""""""""""""" */
.mt-70{
    margin-top: 70px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.mr-3 {
    margin-right: 1.5px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.fw-bold {
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

hr{
    background:rgb(223, 223, 223);
    height:1px;
    border:0;
}

/* """"""""""""""""""""""""""""body"""""""""""""""""""""""""""" */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* 화면 전체 높이로 설정 */
    margin: 0 auto;
    /* 가운데 정렬을 위한 자동 마진 추가 */
    background-color: #FAFAFA;
}


/* """""""""""""""""""""""""""""nav""""""""""""""""""""""""""""" */
nav {
    background-color: rgb(255, 255, 255);
    text-align: center;
    flex: 0 1 auto;
    position: fixed;
    /* 네비게이션 바를 고정 */
    top: 0;
    /* 화면 상단에 위치 */
    width: 100%;
    /* 화면 전체 너비 차지 */
    z-index: 1000;
    /* 다른 요소들 위에 표시되도록 z-index 설정 */
    display: flex;
    justify-content: center;
    /* Center the nav-div within the nav */
    border-bottom: 1px solid rgb(223, 223, 223);
}

.nav-div {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    /* 그리드 아이템 양쪽 끝 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    padding: 10px;
    /* 내부 패딩 추가 */
    width: 70vw;
}

.nav-div div{
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 100px;
    margin-top: 9px;
}

.nav-profile {
    border-radius: 5px;
    margin-right: 13px;
}

/* """"""""""""""""""""""""""""""main"""""""""""""""""""""""""""""" */
main {
    width: 70vw;
    /* main 요소 너비를 60%로 설정 */
    margin: 67px auto 0;
    /* 네비게이션 바의 높이에 따라 조절 */
    flex: 1 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 100px;
    /* 간격 설정 */
}

.main-div-1 {
    width: 100%;
    margin: 5px;
    text-align: start;
    margin-top: 35px;
}

.main-div-2 {
    width: 100%;
    margin: 5px;
    text-align: start;
    margin-top: 35px;
}

/* """"""""""""""""""""""""""main - left"""""""""""""""""""""""""" */
.main-left-top {
    font-size: 14px;
    text-align: start;
    margin-right: 20px;
}

.main-left-text {
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.main-left-text:hover {
    background-color: #E2E2E2; /* 커서를 가져다댔을 때 어두워지는 효과 */
}

ul {
    list-style: none;
    /* 기본 스타일 제거 */
    padding-left: 0;
    /* 내부 패딩 제거 */
    text-align: start;
}

.main-left-bottom {
    padding: 10px;
}

ul.custom-list li {
    font-size: 17px;
}



li {
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

li i {
    font-size: 18px;
    width: 35px;
    height: 20px;
}

li:hover {
    background-color: #E2E2E2; /* 커서를 가져다댔을 때 어두워지는 효과 */
}

.main-left-icon {
    margin-right: 10px;
}

/* """"""""""""""""""""""""""main - right"""""""""""""""""""""""""" */
.main-right-header {
    font-size: 38px;
    font-weight: bold;
}

.main-right-div1 {
    background-color: white;
    height: auto;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

/* 숨겨진 파일 입력 필드 */
input[type="file"] {
    display: none;
}

button[type="submit"]{
    display: none;
}

/* 사용자 정의 파일 선택 버튼 스타일 */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #E5E5E5;
    color: rgb(0, 0, 0);
    border: 1px solid #767676;
    border-radius: 5px;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: #aaaaaa;
}

.file-name {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

/* 사용자 정의 업로드 버튼 스타일 */
.custom-upload-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #d10000;
    color: white;
    border: 1px solid #d10000;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.custom-upload-button:hover {
    background-color: #B9090B;
}

.membership-deco {
    font-size: 13px;
    background: linear-gradient(to right, #ffffff, #B9090B);
    border-radius: 1000000000px 1000000000px 0 0;
    width: auto;
    height: 0.4rem;
    line-height: 2rem;
    color: white;
}

.membership-box i{
    margin-right: 20px;
}

.membership-box div:nth-child(1) {
    font-size: 17px;
    font-weight: 500;
}

.membership-box div:nth-child(2) {
    font-size: 15px;
    color: rgb(82, 82, 82);
}

.membership-box div:nth-child(3) {
    font-size: 14px;
    font-weight: 600;
}

.membership-box div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chevron-right{
    color: rgb(65, 65, 65);
}

.main-right-div2 {
    background-color: white;
    height: auto;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

.fast-link i{
    width: 20px;
    margin-right: 10px;
    color: rgb(65, 65, 65);
}

.fast-link-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fast-link-div div:nth-child(2){
    text-align: end;
}

.main-right-div3 {
    height: auto;
    background-color: #000000;
    border: 1px solid #929292;
    border-radius: 10px;
}

.membership-cancel {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.profile-manage i {
    margin-right: 20px;
}


/* ----------input table---------- */

/* 행 아래에 경계 추가 */
.movie-info-table tr {
    border-bottom: 1px solid #ddd;
}

/* 마지막 행의 경계 제거 */
.movie-info-table tr:last-child {
    border-bottom: none;
}

/* 행 사이에 마진 추가 */
.movie-info-table tr + tr {
    margin-top: 20px;
}

/* input 스타일 */
.movie-info {
    width: calc(100% - 20px);
    height: 40px;
    padding: 5px;
}

.movie-info-table {
    width: 100%;
    border-collapse: collapse;
}

.movie-info-table td {
    padding-bottom: 20px;
    padding-top: 25px;
}

tr td:first-child{
    font-size: 19px;
    max-width: 30px; /* 디자인에 맞게 조정 */
    text-align: justify;
    padding-right: 20px;
    padding-left: 10px;
    font-weight: 500;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    .custom-upload-info-button{
        display: inline-block;
        cursor: pointer;
        background-color: #000000;
        color: white;
        border: 1px solid #929292;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
    }

    .custom-upload-info-button:hover {
        background-color: #4b4b4b;
    }
}

img {
    width: 50px;
    height: 50px;
}


/*"""""""""""""""""""""" upload button animation""""""""""""""""""""""""*/


@keyframes shimmering {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.shimmering {
    position: relative;
    overflow: hidden;
}

.shimmering::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    animation: shimmering 2s infinite linear;
}

.upload-complete {
    background-color: #28a745; /* 초록색 */
    border: 1px solid #28a745;
    color: white;
}

.upload-btn {
    /* 초기 버튼 스타일 정의 */
    background-color: #d10000; /* 빨간색 */
    color: white;
    border: 1px solid #d10000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.uploadMovie-btn:disabled {
    background-color: #28a745; /* 업로드 완료 시 초록색 */
    border: 1px solid #28a745;
    cursor: not-allowed;
    color: white;
}

.uploadMovie-btn:disabled:hover {
    background-color: #28a745; /* 비활성화된 상태에서는 호버 색상 변화 없음 */
}


/* """"""""""""""""""""""""""""footer"""""""""""""""""""""""""""" */
footer {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
    text-align: start;
    font-size: 12px;
    margin: 5px 0;
}

footer div{
    color: rgb(160, 160, 160);
    width: 70vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer div p{
    font-size: 9px;
    margin-bottom: 5px;
}