@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-family: "MangoDdobak-B", sans-serif;
  box-sizing: border-box;
  font-size: 1.2vw;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}

/* 헤더 */
header {
  height: 6vw;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(20, 20, 20, 0.8);
  position: relative;
  z-index: 10;
  font-size: 1.5vw;
}
.movie {
  position: relative;
  color: white;
}

.movie img {
  width: 100%;
}

.logo {
  width: 12vw;
  margin-right: 30px;
}
.logo img {
  object-fit: cover;
}
nav ul {
  display: flex;
}
nav li {
  display: block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}
.right_menu {
  position: absolute;
  top: 0;
  right: 4%;

  height: 100%;
  align-items: center;
  display: flex;
}
.right_menu div {
  margin-right: 2vw;
}

/* .right{
    float:right;
} */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  cursor: pointer;
  width: 3vw;
  margin: 0;
  border-radius: 20%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: -30%;
  z-index: 1;
  font-weight: 400;
  background-color: #141414;
  min-width: 200px;
  border-radius: 4px;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 12px 20px;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.movie_info {
  width: 36%;
  position: absolute;
  bottom: 30px;
  left: 50px;
}

.movie_info p {
  font-size: 1.2vw;
}

.movie_info button {
  /* margin: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem; */
  margin: 1.2vw 1.2vw 1.2vw 0;
  padding: 1vw 2vw;
  font-size: 1.4vw;
  cursor: pointer;
  border-radius: 0.5vw;
  border: none;
}

.movie_info button:first-of-type {
  background-color: #fff;
}

.movie_info button:nth-of-type(2) {
  color: #fff;
  background-color: #6d6d6eb3;
}

/* 카테고리 섹션 */
.category {
  position: relative;
}

.category h2 {
  padding: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}

/* top10 영화 */
.movies {
  position: relative;
}
.scroll {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.movies img {
  width: 20vw;
  height: auto;
  cursor: pointer;
}
/* .card-title{
} */
.top-10-rank {
  bottom: 0;
  left: 0;
  position: absolute;
  right: auto;
  top: 0;
  width: 50%;
}
#next5btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 100%;

  background-color: transparent;
  color: transparent;
  border: none;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}
#next5btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* 푸터 */
footer {
  max-width: 980px;
  margin: 20px auto 0;
  padding: 20px;
  color: #808080;
}

.footer-sns a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-info p {
  font-size: 12px;
  margin: 5px 0;
}
