@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: "MangoDdobak-B", sans-serif;
    box-sizing: border-box;
    font-size: 1.2vw;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

/* 헤더 시작 */
header {
    height: 6vw;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.8);
    position: relative;
    z-index: 10;
    font-size: 1.5vw;
}


.logo {
    width: 12vw;
    margin-right: 30px;
}

.logo img {
    object-fit: cover;
}

nav ul {
    display: flex;
}

nav li {
    display: block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.right_menu {
    position: absolute;
    top: 0;
    right: 4%;

    height: 100%;
    align-items: center;
    display: flex;
}

.right_menu div {
    margin-right: 2vw;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 2vw;
    z-index: 1;
    cursor: pointer;
    font-size: 2vw;
}

.search-info {
    margin: 20px 0 20px 4%;
    color: #808080;
}


.search-input {
    width: 0;
    padding: 1vw 0 1vw 4vw;
    margin-left: 10px;

    background-color: #0002;
    color: #fff;
    border: 1px solid #fff;
    transition: width 0.2s;
    opacity: 0;
}

.search-input.show {
    width: 20vw;
    opacity: 1;
}

#search-text {
    color: #fff;
}

#search-text:hover {
    color: #f00;
}

.dropdown-button {
    cursor: pointer;
    width: 3vw;
    height: 6vw;
    border-radius: 20%;
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    /* 세로 중앙 정렬 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    flex-direction: column;
    /* 아이콘과 이미지 수직 배치 */
}

.dropdown-button i {
    font-size: 1.5vw;
    height: 3vw;
    line-height: 3vw;
}

.dropdown-button img {
    width: 4vw;
    height: 4vw;
    border-radius: 2px;
    object-fit: cover;
}


/*drop down account*/
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    font-weight: 400;
    background-color: #141414;
    width: 200px;
    border-radius: 4px;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*drop down notification*/
.dropdown-notification {
    display: none;
    position: absolute;
    top: 100%;
    right: 20%;
    flex-direction: column;
    z-index: 1;
    font-weight: 400;
    background-color: #141414;
    width: 420px;
    border-radius: 4px;
    padding: 10px;
}

.dropdown-notification a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 12px 20px;
}

.dropdown-notification a:hover {
    background-color: #353535;
}

.dropdown:hover .dropdown-notification {
    display: block;
}

.notification-item {
    height: 70px;
    display: flex;
    width: 400px;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    /* Dark grey background for each item */
    border-radius: 5px;
    margin-top: 5px;
}

.notification-image {
    width: 112px;
    /* Adjust size as needed */
    height: 63px;
    /* Adjust size as needed */
    border-radius: 5px;
    /* Optional: rounded corners */
    margin-right: 10px;
}

.notification-details {
    flex-grow: 1;
}


.notification-subtitle {
    font-size: 17px;
    color: #ccc;
    /* Lighter text for subtitle */
}

.notification-time {
    font-size: 12px;
    color: #888;
    /* Even lighter text for time */
}

.notification-item:hover {
    background-color: #353535;

    .notification-subtitle {
        color: aliceblue;
    }

    /* Slightly lighter grey for hover */
}

.notification-subtitle:hover {
    color: aliceblue;
}

/*drop down button 끝*/
/* 헤더 종료 */

/* 영상 섹션 시작 */
.movie {
    position: relative;
    color: white;
    height: 40vw;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.movie video {
    height: 80vw;
    opacity: .8;
}

.movie_info {
    width: 36%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    top: 0;
    left: 4%;
}

.movie_info p {
    margin-top: 1vw;
    font-size: 1.2vw;
    line-height: 1.5vw;
}

.movie_info button {
    /* margin: 1rem;
      padding: 0.8rem 2rem;
      font-size: 1.2rem; */
    margin: 1.2vw 1.2vw 1.2vw 0;
    padding: 1vw 2vw;
    font-size: 1.4vw;
    cursor: pointer;

    border-radius: 0.5vw;
    border: none;
}

.movie_info button:first-of-type {
    background-color: #fff;
}

.movie_info button:nth-of-type(2) {
    color: #fff;
    background-color: #6d6d6eb3;
}

/* 설명 숨기, 이미지 작아지기 */
@keyframes fadeOutAndShrink {
    0% {
        opacity: 1;
        max-height: 4.5vw;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

@keyframes shrinkImg {
    0% {
        max-width: 100%;
    }
    100% {
        max-width: 60%;
    }
}

.shrink-img {
    animation: shrinkImg 1.3s ease-out forwards;
    animation-delay: 5s; /* 5초 후에 애니메이션 시작 */
}

.fade-out {
    animation: fadeOutAndShrink 1.3s ease-out forwards;
    animation-delay: 5s; /* 5초 후에 애니메이션 시작 */
}

/* 설명 숨기, 이미지 작아지기 */
/* 영상 섹션 종료 */

/* 카테고리 섹션 시작 */
.category {
    position: relative;
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.category h2 {
    padding: 20px;
    font-size: 2vw;
}

/* swiper 속성 */
.mySwiper {
    /* width: 92%; */
    /* margin: 0 4%; */
    padding: 0 4%;
}

.swiper-wrapper {
    height: 100%;
    transition: transform .5s cubic-bezier(1, 0, .1, 1) 0s;
}

.swiper-slide {
    position: relative;
    overflow: hidden;
    border-radius: .2vw;
}
/* rank 영화 */
.top10-movies {
    height: 13vw;
}

.rank {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    align-items: center; /* 세로 중앙 정렬 */
    object-fit: fill;
}

.poster {
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
}

.rank img {
    height: 100%;
}

.poster img {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* modal 콘텐츠 */
.content{
    cursor: pointer;
}


/* 스와이퍼 */
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 2vw;
    font-weight: bold;
}

.swiper-button-prev,
.swiper-button-next {
    /*color: transparent;*/
    /*background: none;*/
    margin-top: 0;
    height: 100%;
    width: 4%;
    top: 0;
    color: transparent;
    transition: .1s;
}

.swiper-button-prev {
    left: 0;
    /*transform: translateY(18%);*/
}


.swiper-button-next {
    right: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #fff;
    background: #0005;
}

/* 검색 섹션 */
.margin-section {
    margin: 0px 4% 10px;
}

.margin-section h2 {
    padding: 20px 0;
    font-size: 24px;
}

#search-section {
    display: none;
}


.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw 0.4vw;
}

.item {
    /* flex: 1 1 calc(20% - 0.5vw); */
    width: calc(20% - 0.4vw);
    box-sizing: border-box;
    border-radius: .5vw;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%; /* 이미지 높이를 부모 요소에 맞게 설정 */
    object-fit: cover; /* 이미지의 가로 세로 비율을 유지하면서 부모 요소에 맞추기 */
}

@media (min-width: 1100px) {
    .item {
        width: calc(16.5% - 0.4vw);
    }
}

@media (max-width: 1100px) {
    .item {
        width: calc(20% - 0.4vw);
    }
}

@media (max-width: 800px) {
    .item {
        width: calc(25% - 0.4vw);
    }
}

@media (max-width: 500px) {
    .item {
        width: calc(33.333% - 0.4vw);
    }
}

/* 서치 섹션 종료 */
/* 카테고리 종료 */


/* 푸터 시작 */
footer {
    max-width: 980px;
    margin: 20px auto 0;
    padding: 20px;
    color: #808080;
}

.footer-sns a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-info p {
    font-size: 12px;
    margin: 5px 0;
}


/*--------모달 사용 css-------*/

.play {
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    margin-left: 40px;
    margin-top: 150px;
}

.play .title {
    font-size: 3em;
    margin-bottom: 20px;
}

.play .buttons {
    font-size: 1.5em;
    display: flex;
    gap: 10px;
}

.play-button, .icon {
    display: flex;
    align-items: center;
    padding: 5px 33px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 2px solid #fff; /* 흰색 테두리 */
    border-radius: 5px;
    font-size: 1em;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    width: 40px;
    height: 40px;
    color: #fff;
    /* 텍스트 색상 */
    background-color: transparent;
    /* 배경 투명 */
    border-radius: 100%;
    text-decoration: none;
    background-position: center;
}


.title {
    font-size: 3em;
    margin-bottom: 20px;
}

.container2 {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    /* 투명한 검정 배경 추가 */
    margin-top: 20px;
    /* 조정 필요 */
}

.title2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.details2 {
    font-size: 1.1em;
}

.details2 div {
    margin-bottom: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.description {
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 1.0em;
    line-height: 1.5em;
}


.metadata {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.metadata span {
    margin-right: 10px;
}

.metadata img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


.match {
    color: #46D369;
}

.info {
    font-size: 1.0em;
}

.info span {
    margin-right: 10px;
}


.introduce {
    width: 60%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 0.5em;
    /* 세로 정렬 */
}

.details div {
    margin-bottom: 10px;
}

.details .cast {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em; /* 한 줄의 높이 */
}

.container {
    position: relative;

    z-index: 1;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.containermargin {
    margin-left: 60px;
    margin-right: 60px;
}

.body-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* 세로 정렬 */
}

.header-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너에 맞게 조정되도록 설정 */
    z-index: 1; /* 이미지가 다른 내용 뒤에 오도록 설정 */
}

.title img {
    width: 60%;
    z-index: 3; /* 이미지가 다른 내용 뒤에 오도록 설정 */
}

/*모달*/
#popupImg {
    border: none;
    /* 테두리 제거 */
    cursor: pointer;
}

#btnWrap {
    width: 500px;
    margin: 100px auto;
}

#popupBtn {
    border: none;
    /* 테두리 제거 */
    cursor: pointer;
}

#modalWrap {
    position: fixed;
    /* 화면에 고정 */
    z-index: 10;
    /* 상위에 위치 */
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    /* 반투명한 배경색 */
    display: none;
    /* 초기에는 숨김 */
}

#modalBody {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1000px;
    border-radius: 10px;
}

#closeBtn {
    position: absolute;
    top: 10px;
    /* 헤더와 겹치도록 상단 위치 조정 */
    right: 10px;
    /* 오른쪽 위치 조정 */
    color: #fff;
    /* 닫기 버튼 색상 */
    font-size: 50px;
    cursor: pointer;
    z-index: 2;
    /* 닫기 버튼이 헤더 위에 오도록 설정 */
}

.buttons {
    margin-bottom: 20px;
}

/*비디오*/
#qualityLevels {
    margin-top: 20px;
}

#qualityLevels button {
    margin-right: 10px;
    padding: 10px;
    font-size: 14px;
}

#videoContainer {
    display: none; /* 처음에는 숨겨진 상태 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
}

#videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오를 화면에 꽉 차게 만듦 */
    object-position: center; /* 비디오의 중앙 부분을 중심으로 */


}