@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'MangoDdobak-B', sans-serif;
    box-sizing: border-box;
    font-size: 1.2vw;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

/* 헤더 */
header {
    height: 10vw;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #141414;
    position: relative;
    font-size: 1.5vw;
}

.logo {
    width: 12vw;
    margin-right: 30px;

}

.logo img {
    object-fit: cover;
}

nav ul {
    display: flex;
}

nav li {
    display: block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;

}

/* 오른쪽 메뉴 서치, 알람, 프로필 */
.right_menu {
    position: absolute;
    top: 0;
    right: 4%;

    height: 100%;
    align-items: center;
    display: flex;
}

.right_menu div {
    margin-right: 2vw;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.fa-magnifying-glass {
    position: absolute;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

.search-input {
    width: 0;
    padding: 10px 0 10px 30px;
    margin-left: 10px;

    background-color: #0002;
    color: #fff;
    border: 1px solid #fff;
    transition: width 0.2s;
    opacity: 0;
}

.search-input.show {
    width: 200px;
    opacity: 1;
}

.profile img {
    width: 3vw;
    border-radius: 20%;
}

.movie {
    position: relative;
    color: white;
}

.movie img {
    width: 100%;
}

.movie_info {
    width: 36%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.movie_info p {
    font-size: 1.2vw;
}

.movie_info button {
    /* margin: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem; */
    margin: 1.2vw 1.2vw 1.2vw 0;
    padding: 1vw 2vw;
    font-size: 1.4vw;
    cursor: pointer;
    border-radius: 0.5vw;
    border: none;
}

.movie_info button:first-of-type {
    background-color: #fff;

}

.movie_info button:nth-of-type(2) {
    color: #fff;
    background-color: #6d6d6eb3;
}

/* 영상 섹션 종료 */
/* 내가 찜한 카테고리 섹션 */
.category {
    position: relative;
}

.my-list-category h2 {
    padding: 20px 0;
    font-size: 24px;
}



/* 내가 찜한 콘텐츠 섹션 */
.my-list-category {
    margin: 0px 4% 10px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw 0.4vw;
}

.item {
    /* flex: 1 1 calc(20% - 0.5vw); */
    width: calc(20% - 0.4vw);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}
/* width에 따라 .item 배치 갯수 바꾸기 */

/* width에 따라 .item 배치 갯수 바꾸기 */

@media (min-width: 1100px) {
    .item {
        width: calc(16.5% - 0.4vw);
    }
}
@media (max-width: 1100px) {
    .item {
        width: calc(20% - 0.4vw);
    }
}
@media (max-width: 800px) {
    .item {
        width: calc(25% - 0.4vw);
    }
}
@media (max-width: 500px) {
    .item {
        width: calc(33.333% - 0.4vw);
    }
}

.movies img {
    width: 100%;
    /* height: auto; */
    cursor: pointer;
}


/* 푸터 */
footer {
    max-width: 980px;
    margin: 20px auto 0;
    padding: 20px;
    color: #808080;

}

.footer-sns a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-info p {
    font-size: 12px;
    margin: 5px 0;
}