
.logo {
  position: fixed;
  top: 30px;
  left: 30px;
}

.logo img {
  width: 150px;
  margin-bottom: 20px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 5px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}

.options a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 18px;
}

.options a:hover {
  text-decoration: underline;
}

.signup {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  color: #b3b3b3;
  width: 100%;
}
.footer-bt {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-size: 12px;
}

.signup a {
  color: white;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}
.white-footer-container ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.grid-list-container {
  width: 100%;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 두 개의 열로 나누기 */
  gap: 10px; /* 항목 간격 */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.white-footer {
  background-color: #f8f8f8;
  color: #666;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.white-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* 수정된 부분 */
  padding: 20px;
  width: 100%;
}

.white-footer-container ul li {
  margin: 0 10px;
}

.white-footer-container ul li a {
  color: #0071eb;
  text-decoration: none;
}

.white-footer-container ul li a:hover {
  text-decoration: underline;
}

.white-footer-container p {
  margin: 5px 0;
}

/* ------------------------------------------- */

.white-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.header-logo img {
  width: 100px;
}

.logout a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.msg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
}

.payment-methods .method {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: start;
  width: 510px;
  height: 130px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.payment-methods .method:hover {
  transform: translateY(-3px); /* 요소를 위로 이동 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 그림자 변경 */
}

.payment-methods .method p {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

.payment-methods .icons img {
  width: 40px;
  margin: 0 5px;
}

.lock-icon {
  display: flex;
  justify-content: center;
}

.lock-icon img {
  width: 50px;
  margin-bottom: 20px;
}

.payment-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.payment-container p {
  margin-bottom: 30px;
  color: #666;
}

.promo-code {
  display: block;
  margin-top: 20px;
  color: #0071eb;
  text-decoration: none;
}

.promo-code:hover {
  text-decoration: underline;
}
