html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

.options a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 18px;
}

.options a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.grid-list-container {
    width: 100%;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 두 개의 열로 나누기 */
    gap: 10px; /* 항목 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

/* ------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.header-logo img {
    width: 170px;
}

.logout a {
    color: #333;
    text-decoration: none;
    font-size: 19px;
}

.main {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin-bottom: 100px;
}

.main .main-box {
    height: 100%;
}

.main .main-box .button-box {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 10px;
}

.main .main-box .button-box .img-container {
    display: flex;
    align-items: center;
}

.main .main-box .button-box button {
    background-color: white;
    border: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    height: 30px;
}

.main .main-box .button-box button:hover {
    background-color: #dadada;
    border-radius: 5px;
}


.main .main-box .button-box a {
    text-decoration: none;
}

.main .main-box .button-box img {
    width: 20px;
}

.container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.msg-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}

.msg-container p {
    font-size: 1rem;
    margin: 10px;
}

.msg-container h2 {
    font-size: 2rem;
    margin: 20px;
}

.payment-methods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    max-width: 700px;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.payment-methods .row {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.payment-methods .row img {
    height: 24px;
}
.payment-methods .row button {
    height: 40px;
    width: 96px;
    background-color: white;
    border-width: 1px;
    border-color: #535353;
    border-radius: 3px;
    font-size: 16px;
}
.payment-methods .row button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.payment-methods {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
    width: 80%;
    margin-bottom: 20px;
    height: 90px;
}

.payment-methods .method p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.payment-methods .icons img {
    width: 40px;
    margin: 0 5px;
}

.lock-icon {
    display: flex;
    justify-content: center;
}

.lock-icon img {
    width: 70px;
    margin-bottom: 20px;
}
.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.payment-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.payment-container p {
    margin-bottom: 30px;
    color: #666;
}

.payment-methods .row input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.2); /* 크기 조정 */
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-container button {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: white;
    font-size: 1rem;
    height: 40px;
    width: 170px;
    border-radius: 5px;
}

.button-container .button-elements {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.button-container button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.button-container a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.button-container img {
    width: 25px;
}

.promo-code {
    display: block;
    margin-top: 20px;
    color: #0071eb;
    text-decoration: none;
}

.promo-code:hover {
    text-decoration: underline;
}

.white-footer-container ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.grid-list-container {
    width: 100%;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 두 개의 열로 나누기 */
    gap: 10px; /* 항목 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.white-footer {
    background-color: #f8f8f8;
    color: #666;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.white-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* 수정된 부분 */
    padding: 20px 100px 20px 100px;
    width: 100%;
}

.white-footer-container ul li {
    margin: 0 10px;
}

.white-footer-container ul li a {
    color: #0071eb;
    text-decoration: none;
}

.white-footer-container ul li a:hover {
    text-decoration: underline;
}

.white-footer-container p {
    margin: 5px 0;
}
.footer-bt {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-size: 12px;
}
