.grid-list-container {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 두 개의 열로 나누기 */
    gap: 10px; /* 항목 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

/* ------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.header-logo img {
    width: 170px;
}

.logout a {
    color: #333;
    text-decoration: none;
    font-size: 19px;
}

.white-footer-container ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.grid-list-container {
    width: 100%;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 두 개의 열로 나누기 */
    gap: 10px; /* 항목 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.white-footer {
    background-color: #f8f8f8;
    color: #666;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.white-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* 수정된 부분 */
    padding: 20px 100px 20px 100px;
    width: 100%;
}

.white-footer-container ul li {
    margin: 0 10px;
}

.white-footer-container ul li a {
    color: #0071eb;
    text-decoration: none;
}

.white-footer-container ul li a:hover {
    text-decoration: underline;
}

.white-footer-container p {
    margin: 5px 0;
}
.footer-bt {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-size: 12px;
}

/* ------------------------- */

.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}

.update-form-container {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 450px;
}

.back-link {
    display: flex;
    margin-bottom: 20px;
    color: #0071eb;
    text-decoration: none;
    font-size: 15px;
    align-items: center;
    height: 25px;
}

.back-link .img-container {
    height: 20px;
    width: 20px;
}

.back-link img {
    height: 15px;
    width: 15px;
    color: #0071eb;
}

.back-link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.checkbox-container span {
    font-size: 12.5px;
    text-align: center;
    color: #666;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: start;
    padding-top: 20px;
    position: relative;
    width: 410px;
    height: 60px;
    margin-bottom: 10px;
}

.form-group label {
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #666;
}

.form-group .icon {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    right: 10px;
    top: 19px;
    right: 30px;
    font-size: 30px; /* 아이콘 크기 조절 */
    color: #000000; /* 아이콘 색상 조절 */
    pointer-events: none; /* 아이콘이 클릭되지 않도록 설정 */
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 1.2rem;
    height: 1.2rem;
}

.form-group input[type="text"],
.form-group input[type="date"] {
    position: absolute;
    width: 410px;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    background: transparent;
    font-size: 17px;
    font-weight: 600;
}

.form-group input:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.7);
    outline: none;
    /* focus 시 경계선 감싸기 */
}

/* .input-wrapper input.valid {
  border: 2px solid green;
}

.input-wrapper input.invalid {
  border: 2px solid red;
}
/*
.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 30px;
} */

.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #d40813;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
