html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}
/* 전환 애니메이션 */
section {
    transition: transform 5s ease, opacity 0.2s ease;
    transform: translateX(0);
    opacity: 1;
}

/* 애니메이션 효과 적용 */
section.hide {
    transform: translateX(-100%);
    opacity: 0;
}
section.hide2 {
    transform: translateX(500%);
    opacity: 0;
}

/* ------------------------------------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.header-logo img {
    width: 170px;
}

.login a {
    color: #333;
    text-decoration: none;
    font-size: 19px;
}

/* section 시작 */
body{
    display: flex;
    flex-direction: column;
}
section{
    flex: 1;
    padding-bottom: 100px;
}
footer{
    display: block;
}


.main {
    padding: 50px 0 100px;
}

.container {
    flex: 1;
    width: 440px;
    margin: 0 auto;
    padding: 40px;
}

.container-head {
    margin-bottom: 20px;
}

.step-count {
    font-size: 14px;
    margin-bottom: 10px;
}

.container h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 10px;
}

.container p {
    font-size: 18px;
    line-height: 25px;
}
/* input ( 이메일, 회원가입 ) */
.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 24px 16px 8px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
}

.input-container label {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    left: 10px;
    font-size: 18px;
    color: #999;
    pointer-events: none;
    transition:  .1s ease;
}

/* 입력시 label 좌측상단 이동 */
.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
    top: 15px;
    left: 10px;
    font-size: 10px;
    color: #333;
}
/* 인풋 체크박스 섹션 */
.checkbox-group {
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2rem;
}

.checkbox-group div {
    margin-bottom: 10px;
}

.checkbox-group input {
    margin-right: 10px;
    accent-color: #000;
}

.checkbox-group label {
    font-size: 14px;
    color: #666;
}

.submit-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #f6121d;
}

/* step2 page */
.container-head-step2{
    text-align: center;
    margin-bottom: 20px;
}

.big-check-icon .material-icons{
    color: #e50914;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
}

.check-info{
    width: 300px;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
}
.check-info li {
    display: flex;
    margin: 10px 0;
}
.check-icon .material-icons{
    font-size: 24px;
    color: #e50914;
    margin-right: 10px;
}
/* 버튼 친구들들 */
.button-friends{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.next-time-button{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background: #999;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.next-time-button:hover{
    background: #aaa;
}
/* main 종료 */


/* footer 시작 */
footer {
    background: #f5f5f5;
    display: block;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    width: 100%;
    bottom: 0;
    /* 화면 하단에 위치하도록 설정 */
}

footer a {
    color: #777;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.grid-list-container {
    width: 100%;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 두 개의 열로 나누기 */
    gap: 10px;
    /* 항목 간격 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.white-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* 수정된 부분 */
    padding: 20px 100px 20px 100px;
    width: 100%;
}

.white-footer-container ul li {
    margin: 0 10px;
}

.white-footer-container ul li a:hover {
    text-decoration: underline;
}

.white-footer-container p {
    margin: 5px 0;
}

.footer-bt {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-size: 12px;
}