<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/account-membership.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>account</title>
</head>

<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <a href="/">
                <img src="/static/images/OH!FLIX.png" alt="오류" class="nav-logo" />
            </a>
        </div>
        <div>
            <img src="/static/images/profile.png" alt="오류" class="nav-profile" />
            <div>
                <i class="fa-solid fa-caret-down fa-xs"></i>
            </div>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- main start -->
<main>
    <!-- main div left -->
    <!-- 사이드 바 메뉴 시작 -->
    {{> /_components/custom-list}}
    <!-- 사이드 바 메뉴 끝 -->

    <!-- main div right -->
    <div class="main-div">
        <!-- membership inforamtion -->
        <div class="main-right-header mb-20">멤버십</div>
        <div class="mb-20">멤버십 상세정보</div>
        <div class="main-right-div1 mb-20">
            <div class="membership-deco">
            </div>

            <div class="membership-box m-20 pointer">
                <div class="mb-10">스텐다드 멤버십</div>
                <div class="mb-10">4K 영상 해상도, 공간 음향, 광고 없이 시청 등.</div>
            </div>
        </div>

        <!-- fast link -->
        <div class="mb-20">결제 정보</div>
        <div class="main-right-div2 mb-20">
            <div class="fast-link m-20">
                <div class="membership-box pointer">
                    <div class="mb-10">프리미엄 멤버십</div>
                    <div class="mb-10">다음 결제일 : 2024년 6월 24일</div>
                    <div class="mb-15">
                        <i class="fa-regular fa-credit-card"></i>···· ···· ···· 1234
                    </div>
                </div>
                <hr class="mb-20" />
                <a href="/api/paymethod-manage">
                    <div class="mb-20 fast-link-div pointer">
                        <div>
                            결제 수단 관리
                        </div>
                        <div><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </a>

                <hr class="mb-20" />
                <a href="/api/purchase-histories">
                    <div class="mb-20 fast-link-div pointer">
                        <div>
                            결제 내역 관리
                        </div>
                        <div><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </a>
            </div>
        </div>

        <a href="/api/cancel-plan">
            <div class="main-right-div3 mb-20 pointer">
                <div class="membership-cancel m-15">
                    멤버십 해지
                </div>
            </div>
        </a>
    </div>
</main>
<!-- main end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- hr -->
<div class="mt-70">
    <hr />
</div>
<!-- hr -->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- footer start -->
{{> /_components/white-footer}}
<!-- footer end -->
</body>

</html>