<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/account-view.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>account</title>
</head>

<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <a href="/api/main-page">
                <img src="/static/images/OH!FLIX.png" alt="오류" class="nav-logo"/>
            </a>
        </div>
        <div>
            <img src="/static/images/profile.png" alt="오류" class="nav-profile"/>
            <div>
                <i class="fa-solid fa-caret-down fa-xs"></i>
            </div>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- main start -->
<main>
    <!-- main div left -->
    <!-- 사이드 바 메뉴 시작 -->
    {{> /_components/custom-list}}
    <!-- 사이드 바 메뉴 끝 -->

    <!-- main div right -->
    <div class="main-div">
        <!-- membership inforamtion -->
        <div class="main-right-header mb-20">계정</div>
        <div class="mb-20">멤버십 정보</div>
        <div class="main-right-div1 mb-20">
            <div class="membership-date">
                <div>멤버십 시작: {{accountMembershipInfo.membershipStartDate}}</div>
            </div>
            <div class="membership-box m-20">
                <div class="pointer">
                    <div class="mb-10">{{accountMembershipInfo.membershipType}}</div>
                    <div class="mb-10">다음 결제일 : {{accountMembershipInfo.nextPaymentDate}}</div>
                    <div class="mb-15">
                        <i class="fa-regular fa-credit-card"></i>···· ···· ···· {{accountMembershipInfo.cardLastFourDigits}}
                    </div>
                </div>

                <hr class="mb-15"/>
                <a href="/api/account-membership">
                    <div class="profile-manage pointer">
                        멤버십 관리
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </a>

            </div>
        </div>

        <!-- fast link -->
        <div class="mb-20">빠른 링크</div>
        <div class="main-right-div2 mb-20">
            <div class="fast-link m-20">
                <a href="/api/paymethod-manage">
                    <div class="fast-link-div mb-20 pointer">
                        <div class="pointer">
                            <i class="fa-solid fa-credit-card"></i>
                            결제 수단 관리
                        </div>
                        <div><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </a>

                <hr class="mb-20"/>
                <a href="/api/password-change-form">
                    <div class="fast-link-div mb-20 pointer">
                        <div class="pointer">
                            <i class="fa-solid fa-lock"></i>
                            비밀번호 업데이트
                        </div>
                        <div><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </a>

                <hr class="mb-20"/>
                <a href="/api/restriction-pass">
                    <div class="fast-link-div mb-20 pointer">
                        <div class="pointer">
                            <i class="fa-solid fa-person-circle-exclamation"></i>
                            자녀 보호 설정 조정
                        </div>
                        <div><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </a>
                <hr class="mb-20"/>
                <a href="/api/profile-setting">
                    <div class="fast-link-div mb-20 pointer">
                        <div class="pointer">
                            <i class="fa-solid fa-gear"></i>
                            설정 변경
                        </div>
                        <div><i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </a>

            </div>
        </div>

        <div class="main-right-div3 mb-20">
            <div class="profile-manage m-20 pointer">
                프로필 관리
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
</main>
<!-- nav start end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- hr -->
<div class="mt-70">
    <hr/>
</div>
<!-- hr -->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- footer start -->
{{> /_components/white-footer}}
<!-- footer end -->
</body>

</html>