<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/account-membership.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>account</title>
</head>

<body>
<!-- nav start -->
<nav>
    <div class="nav-div">
        <div>
            <img src="images/logo.png" alt="오류" class="nav-logo" />
        </div>
        <div>
            <img src="images/profile.png" alt="오류" class="nav-profile" />
            <div>
                <i class="fa-solid fa-caret-down fa-xs"></i>
            </div>
        </div>
    </div>
</nav>
<!-- nav end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- main start -->
<main>
    <!-- main div left -->
    <div class="main-div">
        <div class="main-left-top">
            <div class="main-left-text">
                <i class="fa-solid fa-arrow-left main-left-icon"></i>넷플릭스로
                돌아가기
            </div>
            <ul class="custom-list">
                <li><i class="fa-solid fa-house main-left-icon"></i>개요</li>
                <li>
                    <i class="fa-solid fa-credit-card main-left-icon"></i>멤버십
                </li>
                <li><i class="fa-solid fa-key main-left-icon"></i> 보안</li>
                <li>
                    <i class="fa-solid fa-users main-left-icon"></i>프로필
                </li>
            </ul>
        </div>
    </div>

    <!-- main div right -->
    <div class="main-div">
        <!-- membership inforamtion -->
        <div class="main-right-header mb-20">멤버십</div>
        <div class="mb-20">멤버십 상세정보</div>
        <div class="main-right-div1 mb-20">
            <div class="membership-deco">
            </div>

            <div class="membership-box m-20 pointer">
                <div class="mb-10">스텐다드 멤버십</div>
                <div class="mb-10">4K 영상 해상도, 공간 음향, 광고 없이 시청 등.</div>
            </div>
        </div>

        <!-- fast link -->
        <div class="mb-20">결제 정보</div>
        <div class="main-right-div2 mb-20">
            <div class="fast-link m-20">
                <div class="membership-box pointer">
                    <div class="mb-10">프리미엄 멤버십</div>
                    <div class="mb-10">다음 결제일 : 2024년 6월 24일</div>
                    <div class="mb-15">
                        <i class="fa-regular fa-credit-card"></i>···· ···· ···· 1234
                    </div>
                </div>
                <hr class="mb-20" />
                <div class="mb-20 fast-link-div pointer">
                    <div>
                        결제 수단 관리
                    </div>
                    <div><i class="fa-solid fa-chevron-right"></i></div>
                </div>
                <hr class="mb-20" />
                <div class="mb-20 fast-link-div pointer">
                    <div>
                        결제 내역 관리
                    </div>
                    <div><i class="fa-solid fa-chevron-right"></i></div>
                </div>

            </div>
        </div>

        <div class="main-right-div3 mb-20 pointer">
            <div class="membership-cancel m-15">
                멤버십 해지
            </div>
        </div>
    </div>
</main>
<!-- main end-->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- hr -->
<div class="mt-70">
    <hr />
</div>
<!-- hr -->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- footer start -->
<footer>
    <div>
        <p>
            넷플릭스서비시스코리아 유한회사 통신판매업신고번호:
            제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)
        </p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>
            주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층
            우편번호 03161
        </p>
        <p>사업자등록번호: 165-87-00119</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        <p>공정거래위원회 웹사이트</p>
    </div>
</footer>
<!-- footer end -->
</body>

</html>