<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/login-form.css"/>
    <link rel="stylesheet" href="/static/css/reset.css"/>
    <title>Login Page</title>
</head>

<body>
<div class="background">
    <div class="logo">
        <img src="/static/images/logo.png" alt="Netflix Logo"/>
    </div>
    <div class="login-container">
        <form class="login-form">
            <h1>로그인</h1>
            <input
                    class="input-field"
                    type="email"
                    placeholder="이메일 주소"
                    required
            />
            <input
                    class="input-field"
                    type="password"
                    placeholder="비밀번호"
                    required
            />
            <button type="submit">로그인</button>
            <div class="kakao-container">
                <img src="/static/images/kakaobutton.png"/>
                <a href="#"> 카카오 로그인 </a>
            </div>
            <div class="options">
                <div class="align-center">또는</div>
                <a href="#">비밀번호를 잊으셨나요?</a>
                <div class="checkbox-container">
                    <label class="checkbox-label">
                        <input type="checkbox"/> 로그인 정보 저장
                    </label>
                </div>
                <div class="signup">
                    <p>Netflix 회원이 아닌가요? <a href="#">지금 가입하세요.</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="footer-container">
        <p>질문이 있으신가요? 문의 전화: 00-308-321-0161 (수신자 부담)</p>
        <div class="grid-list-container">
            <ul class="grid-list">
                <li><a href="#">자주 묻는 질문</a></li>
                <li><a href="#">고객 센터</a></li>
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">쿠키 설정</a></li>
                <li><a href="#">회사 정보</a></li>
            </ul>
        </div>
        <div class="footer-bt">
            <p>
                넷플릭스서비시스코리아 유한회사 통신판매업신고번호:
                제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)
            </p>
            <p>대표: 레지널드 숀 톰프슨</p>
            <p>이메일 주소: korea@netflix.com</p>
            <p>
                주소: 대한민국 서울특별시 종로구 종로 1길 50 더케이트윈타워 A동 20층
                우편번호 03161
            </p>
            <p>사업자등록번호: 165-87-00119</p>
            <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        </div>
    </div>
</footer>
</body>
</html>
