<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 - 오플릭스</title>
    <!-- 라이브러리 -->
    <!-- google Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font-awesome Icon 폰트어썸 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 임포트 -->
    <!-- css 초기화 -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/main-page.css">
    <!-- js -->
    <script src="/static/js/main-page.js"></script>
    <!-- 파비콘 ( 아이콘 ) -->
    <link rel="icon" href="/static/images/OH!.ico">
</head>

<body>
<!-- 헤더 시작 -->
<header>
    <a href="/">
        <div class="logo"><img src="/static/images/OH!FLIX.png" alt="로고 이미지"></div>
    </a>
    <nav>
        <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/">영화</a></li>
            <li><a href="/api/latest-content">최신 콘텐츠</a></li>
            <li><a href="/api/my-favorite-list">내가 찜한 콘텐츠</a></li>
        </ul>
    </nav>
    <div class="right_menu">
        <!-- 검색 메뉴 -->
        <div class="search-container">
            <!-- <i class="fa-solid fa-magnifying-glass search-icon"></i> -->
            <span class="material-icons search-icon">search</span>
            <input type="text" class="search-input" placeholder="제목, 사람, 장르">
        </div>
        <!--  알람 드롭 다운 메뉴  -->
        <div class="dropdown">
            <button class="dropdown-button"><i class="far fa-bell"></i></button>
            <div class="dropdown-notification">
                {{#MainPageDTO.navbarList}}
                    <div class="notification-item">
                        <img src="{{itemThumbnail}}" class="notification-image">
                        <div class="notification-details">
                            <div class="notification-subtitle">신규 콘텐츠</div>
                            <div class="notification-subtitle">{{itemTitle}}</div>
                            <div class="notification-time">{{createdSince}}</div>
                        </div>
                    </div>
                {{/MainPageDTO.navbarList}}
            </div>
        </div>
        <!--  알람 드롭 다운 메뉴 종료  -->
        <!--  프로필 드롭 다운 메뉴 시작  -->
        <div class="dropdown">
            <button class="dropdown-button"><img src="/static/images/profile.png" alt="Profile"/></button>
            <div class="dropdown-content">
                <a href="/api/profile-form"><i class="material-icons">edit</i> 프로필 관리</a>
                <a href="/api/account-view"><i class="material-icons">account_circle</i> 계정</a>
                <a href="#"><i class="material-icons">help_outline</i> 고객 센터</a>
                <a href="#"><i class="material-icons">help_outline</i> 관리자 모드</a>
                <a href="/logout">넷플릭스에서 로그아웃</a>
            </div>
        </div>
        <!--  프로필 드롭 다운 메뉴 종료  -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <script>
            document.querySelector('.search-icon').addEventListener('click', function () {
                const searchInput = document.querySelector('.search-input');
                if (searchInput.classList.contains('show')) {
                    searchInput.classList.remove('show');
                } else {
                    searchInput.classList.add('show');
                    searchInput.focus();
                }
            });
        </script>
    </div>
</header>

<!-- 메인 -->
<main>
    <!-- 자동 재생 영상 섹션 -->
    <section class="movie">
        <!--        <img src="/static/images/oppenheimer.jpg" alt="Oppenheimer"/>-->
        <video src="/static/images/Oppenheimer.mp4" poster="/static/images/oppenheimer.jpg" autoplay muted>
        </video>
        <div class="movie_info">
            <img class="shrink-img" src="/static/images/oppenheimer_logo.jpg" alt=""/>
            <p class="fade-out">오스카와 골든글로브에서 작품상을 수상한 영화. 원자 폭탄을 만든 오펜하이머의 이야기로, 《NPR》에서 '천재의 오만과 과학에 대한 기념비적' 작품이라고 평했다.</p>
            <div class="movie-info-btn">
                <button><i class="fa-solid fa-play"></i>재생</button>
                <button id="popupImg-1"><i class="fa-solid fa-circle-info"></i> 상세 정보</button>
            </div>
        </div>
    </section>

    <!-- Top10 영화 섹션 -->
    <section class="category">
        <h2>오늘 대한민국의 TOP10 영화</h2>
        <div class="swiper mySwiper top10-movies">
            <div class="swiper-wrapper">
                <!-- top1 -->
                {{#MainPageDTO.top10List}}
                    <div class="swiper-slide">
                        <div class="rank">
                            <img src="{{rankPath}}" alt="Rank 01">
                        </div>
                        <div class="poster">
                            <img src="{{top10PosterPhoto}}" alt="top10_01"
                                  id="popupImg-{{top10Id}}" data-content-id="{{top10Id}}" style="cursor: pointer;">
                        </div>
                    </div>
                {{/MainPageDTO.top10List}}
            </div>

            <!-- <button id="next5btn"><i class="fa-solid fa-chevron-right"></i></button> -->
            <!-- <button id="prev5btn"><i class="fa-solid fa-chevron-left"></i></button> -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <script>
            var swiper = new Swiper(".mySwiper", {
                slidesPerView: 5,   // 화면에 보일 아이템 수
                slidesPerGroup: 5,  // 한 번에 넘길 아이템 수
                spaceBetween: 5,    // 간격
                loop: true,         // 무한 루프
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
    </section>
    <!-- 추가 카테고리 섹션들 -->
    <section class="category">
        <h2>새로 올라온 시리즈</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                {{#MainPageDTO.newList}}
                    <div class="swiper-slide" new-content-id="{{newId}}"><img src="{{newThumbnail}}" alt="new_01"/>
                    </div>
                {{/MainPageDTO.newList}}
            </div>
            <div class="swiper-button-next "></div>
            <div class="swiper-button-prev"></div>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 5,   // 화면에 보일 아이템 수
                    slidesPerGroup: 5, // 한 번에 넘길 아이템 수
                    spaceBetween: 5,    // 간격
                    loop: true,         // 무한 루프
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>
        </div>
    </section>
</main>

<!-- 검색결과섹션 -->
<section class="margin-section" id="search-section">
    <p class="search-info">더 다양한 검색어가 필요하시다면! : <a id="search-text" href="#"></a></p>
    <div class="item-list">
        <div class="item" data-title="서울의 봄" data-genre="">
            <img src="/static/images/new_contents/new_contents_01.jpg" alt="서울의 봄">
        </div>
        <div class="item" data-title="하이라키" data-genre="시리즈">
            <img src="/static/images/new_contents/new_contents_02.jpg" alt="하이라키">
        </div>
        <div class="item" data-title="끝내주는 해결사" data-genre="시리즈">
            <img src="/static/images/new_contents/new_contents_03.jpg" alt="끝내주는 해결사">
        </div>
        <div class="item" data-title="투르 드 프랑스" data-genre="시리즈">
            <img src="/static/images/new_contents/new_contents_04.jpg" alt="투르 드 프랑스">
        </div>
        <div class="item" data-title="한마바키" data-genre="애니메이션">
            <img src="/static/images/new_contents/new_contents_05.jpg" alt="한마바키">
        </div>
        <div class="item" data-title="위대한 쇼맨" data-genre="영화">
            <img src="/static/images/new_contents/new_contents_06.jpg" alt="위대한 쇼맨">
        </div>
        <div class="item" data-title="테라코타 전사들의 수수께끼" data-genre="다큐">
            <img src="/static/images/new_contents/new_contents_07.jpg" alt="테라코타 전사들의 수수께끼">
        </div>
        <div class="item" data-title="기생수 더 그레이" data-genre="시리즈">
            <img src="/static/images/new_contents/new_contents_08.jpg" alt="기생수 더 그레이">
        </div>
        <div class="item" data-title="정신병동에도 아침이 와요" data-genre="영화">
            <img src="/static/images/new_contents/new_contents_09.jpg" alt="정신병동에도 아침이 와요">
        </div>
        <div class="item" data-title="슬기로운 감빵생활" data-genre="시리즈">
            <img src="/static/images/new_contents/new_contents_10.jpg" alt="슬기로운 감빵생활">
        </div>
        <div class="item" data-title="신과 함께 죄와 벌" data-genre="영화">
            <img src="/static/images/new_contents/new_contents_11.jpg" alt="신과 함께 죄와 벌">
        </div>
    </div>
</section>
<!-- 푸터 -->
<footer>
    <div class="footer-sns">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footer-info">
        <p>
            넷플릭스서비시스코리아 유한회사 통신판매업신고번호:
            제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)
        </p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>
            주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층
            우편번호 03161
        </p>
        <p>사업자등록번호: 165-87-00119</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
    </div>
</footer>
</body>

<!--  모달 내용-->
{{> /_components/content-detail}}
<!--  모달 내용-->

</html>

