<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈 - 오플릭스</title>
    <!-- 폰트어썸 라이브러리 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css 초기화 -->
    <link rel="stylesheet" href="/static/css/reset.css">
    <!-- css -->
    <link rel="stylesheet" href="/static/css/my-list.css">
    <!-- 파비콘 ( 아이콘 ) -->
    <link rel="icon" href="/static/images/OH!.ico">
</head>

<body>
<!-- 헤더 -->
<header>
    <div class="logo"><img src="/static/images/OH!FLIX.png" alt=""></div>
    <nav>
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="#">영화</a></li>
            <li><a href="#">최신 콘텐츠</a></li>
            <li><a href="#">내가 찜한 콘텐츠</a></li>
        </ul>
    </nav>
    <div class="right_menu">
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" class="search-input" placeholder="제목, 사람, 장르">
        </div>
        <div class="alarm"><i class="fa-regular fa-bell"></i></div>
        <div class="profile"><img src="/static/images/profile.png" alt="Profile"></div>
        <script src="script.js"></script>
    </div>
</header>

<!-- 메인 -->
<main>

    <!-- 추가 카테고리 섹션들 -->
    <section class="my-list-category">
        <h2>내가 찜한 콘텐츠</h2>
        <div class="movies">
            <div class="item-list">
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_01.jpg" alt="new_01">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_02.jpg" alt="new_02">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_03.jpg" alt="new_03">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_04.jpg" alt="new_04">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_05.jpg" alt="new_05">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_06.jpg" alt="new_06">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_07.jpg" alt="new_07">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_08.jpg" alt="new_08">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_09.jpg" alt="new_09">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_10.jpg" alt="new_10">
                </div>
                <div class="item">
                    <img src="/static/images/new_contents/new_contents_11.jpg" alt="new_11">
                </div>
            </div>
        </div>
    </section>
</main>

<!-- 푸터 -->
<footer>
    <div class="footer-sns">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footer-info">
        <p>넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)</p>
        <p>대표: 레지널드 숀 톰프슨</p>
        <p>이메일 주소: korea@netflix.com</p>
        <p>주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층 우편번호 03161</p>
        <p>사업자등록번호: 165-87-00119</p>
        <p>클라우드 호스팅: Amazon Web Services Inc.</p>
    </div>
</footer>

</body>

</html>