<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  css 초기화  -->
    <link rel="stylesheet" href="/static/css/reset.css" />
    <!--  css  -->
    <link rel="stylesheet" href="/static/css/outer-page.css" />
    <!-- 폰트어썸 라이브러리 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
          integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  구글 아이콘 라이브러리  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>다섯플릭스 대한민국 - 인터넷으로</title>
</head>

<body>
<header>
    <div class="logo">
        <img src="images/OH!FLIX.png" alt="OH!FLIX Logo">
    </div>
    <div class="right-menu">
<!--        <span class="material-icons">g_translate</span>-->
<!--        <select id="language-selector">-->
<!--            <option value="ko" selected>한국어</option>-->
<!--            <option value="en">English</option>-->
<!--        </select>-->
        <button class="login-btn">로그인</button>
    </div>
</header>
<section id="main-section">
    <div class="grid">
        <h1>영화, 시리즈 등을 무제한으로</h1>
        <h3>어디서나 자유롭게 시청하세요. 해지는 언제든 가능합니다.</h3>
        <form class="email-start">
            <h3>시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.</h3>
            <input type="email" placeholder="이메일 주소">
            <button>시작하기 <i class="fa-solid fa-chevron-right"></i></button>
        </form>
        <!-- <div class="promo_section">
            <img src="https://via.placeholder.com/150" alt="Promo Image">
            <div>
                <h4>5,500만 이용 만남 가능한 넷플릭스,</h4>
                <p>공정성 스탠다드 멤버십 가입하세요.</p>
                <button>자세히 알아보기</button>
            </div>
        </div> -->
    </div>
</section>
<!-- 메인 섹션 종료 -->
<!-- 배너 섹션 시작 -->
<section id="banner-section">
    <div class="banner">
        <img src="images/popcorn.png" alt="">
        <div>
            <h3>5,500원이면 만날 수 있는 오플릭스.</h3>
            <p>광고형 스탠다드 멤버십에 가입하세요.</p>
            <a href="#">자세히 알아보기<i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
</section>
<!-- 배너 섹션 종료 -->


<!-- 푸터 시작 -->
<footer>
    <div class="footer-container">
        <p>질문이 있으신가요? 문의 전화: 00-308-321-0161 (수신자 부담)</p>
        <div class="grid-list-container">
            <ul class="grid-list">
                <li><a href="#">자주 묻는 질문</a></li>
                <li><a href="#">고객 센터</a></li>
                <li><a href="#">이용 약관</a></li>
                <li><a href="#">개인정보 처리방침</a></li>
                <li><a href="#">쿠키 설정</a></li>
                <li><a href="#">회사 정보</a></li>
            </ul>
        </div>
        <div class="footer-bt">
            <p>
                넷플릭스서비시스코리아 유한회사 통신판매업신고번호:
                제2018-서울종로-0426호 전화번호: 00-308-321-0161 (수신자 부담)
            </p>
            <p>대표: 레지널드 숀 톰프슨</p>
            <p>이메일 주소: korea@netflix.com</p>
            <p>
                주소: 대한민국 서울특별시 종로구 종로 1길 50 더케이트윈타워 A동 20층
                우편번호 03161
            </p>
            <p>사업자등록번호: 165-87-00119</p>
            <p>클라우드 호스팅: Amazon Web Services Inc.</p>
        </div>
    </div>
</footer>
</body>

</html>