<div class="main-div">
    <div class="main-left-top">
        <a href="/">
            <div class="main-left-text">
                <i class="fa-solid fa-arrow-left main-left-icon"></i>넷플릭스로
                돌아가기
            </div>
        </a>
        <ul class="custom-list">
            <a href="/api/account-view">
                <li><i class="fa-solid fa-house main-left-icon"></i>개요</li>
            </a>
            <a href="/api/account-membership">
                <li>
                    <i class="fa-solid fa-credit-card main-left-icon"></i>멤버십
                </li>
            </a>
            <a href="/api/account-security">
                <li><i class="fa-solid fa-key main-left-icon"></i> 보안</li>
            </a>
            <a href="/api/profile-setting">
                <li>
                    <i class="fa-solid fa-users main-left-icon"></i>프로필
                </li>
            </a>
        </ul>
    </div>
</div>